<!DOCTYPE html>
<html>

    <head>
        <title>Animated Login Form</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="login-content adicionar-t">
            <form action="tecnico.html">
                <img src="../img/list.svg">
                <h2 class="title">add ou editar técnico</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Matricula</h5>
                        <input type="text" class="input" id="matricula">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Nro_Membro</h5>
                        <input type="text" class="input" id="nromembro">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>CODM</h5>
                        <input type="text" class="input" id="codm">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>CODS</h5>
                        <input type="text" class="input" id="cods">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Endereço</h5>
                        <input type="text" class="input" id="endereco">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Telefone</h5>
                        <input type="text" class="input" id="telefone">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Salário</h5>
                        <input type="text" class="input" id="salario">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Nome</h5>
                        <input type="text" class="input" id="nome">
                    </div>
                </div>

                <button class="btn" id="salvarTecnico">Salvar</button>
            </form>
        </div>
        <div class="tag"><b>Nomes:</b> Daniella, Miguel</div>
        </div>
        <script type="text/javascript" src="../js/main.js"></script>
    </body>

</html>