<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="../css/table.css">
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aeroporto</title>
    </head>

    <body>
        <div class="container-tabela">
            <div id="menu">
                <div id="titulo">
                    <h2>
                        Menu
                    </h2>
                </div>

                <div id="lista">
                    <ul>
                        <li>
                            <a href="aviao.html">Aviões</a>
                        </li>
                        <li>
                            <a href="modelo.html">Modelos</a>
                        </li>
                        <li>
                            <a href="teste.html">Testes</a>
                        </li>
                        <li>
                            <a href="sindicato.html">Sindicatos</a>
                        </li>
                        <li>
                            <a href="controlador.html">Controladores</a>
                        </li>
                        <li>
                            <a href="tecnico.html">Técnicos</a>
                        </li>
                    </ul>
                </div>


                <div id="filtro-titulo">
                    <h3>
                        <a href="../filtragem.html">Filtrar</a>
                    </h3>
                </div>
            </div>

            <div id="botao-e-tabela">
                <div id="table-flex">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col">Index</th>
                                <th class="col">CODT</th>
                                <th class="col">CODM</th>
                                <th class="col">Data</th>
                                <th class="col">Hora</th>
                                <th class="col">Pontuação</th>
                                <th class="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div id="botao-embaixo">
                    <button class="btn" onclick="window.location.href='adicionar-teste.html'">
                        Adicionar
                    </button>
                </div>
            </div>



            <div class="tag"><b>Nomes:</b> Daniella, Miguel</div>
            <div class="sair"><a href="../login.html">Sair</a></div>
        </div>

        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/tabelas/*"></script>
    </body>

</html>