<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aeroporto</title>
    </head>

    <body>
        <div class="container-tabela">
            <div id="menu">
                <div id="titulo">
                    <h2>
                        Menu
                    </h2>
                </div>

                <div id="lista">
                    <ul>
                        <li>
                            <a href="{% url 'mainApp:aviao' %}">Aviões</a>
                        </li>
                        {% comment %} <li>
                            <a href="modelo.html">Modelos</a>
                        </li> {% endcomment %}
                        <li>
                            <a href="{% url 'mainApp:teste' %}">Testes</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:sindicato' %}">Sindicatos</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:controlador' %}">Controladores</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:tecnico' %}">Técnicos</a>
                        </li>
                    </ul>
                </div>

                <div id="filtro-titulo">
                    <h3>
                        <a href="{% url 'mainApp:modelo_find' %}">Filtrar</a>
                    </h3>
                </div>
            </div>

            <div id="botao-e-tabela">
                <div id="table-flex">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col">id</th>
                                <th class="col">Código Modelo</th>
                                <th class="col">Nome</th>
                                <th class="col">Capacidade</th>
                                <th class="col">Peso</th>
                                <th class="col">Limite</th>
                                <th class="col">Aviões Associados</th>
                            </tr>
                            {% for id,modelo in modelos.items %}
                                <tr>
                                    <td> {{id}}                </td>
                                    <td> {{modelo.codm}}       </td>
                                    <td> {{modelo.nome}}       </td>
                                    <td> {{modelo.capacidade}} </td>
                                    <td> {{modelo.peso}}       </td>
                                    <td> {{modelo.limite}}     </td>
                                    <td> {{modelo.avioes}}     </td>
                                </tr>
                            {% endfor %}
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                </div>
                <div id="botao-embaixo">
                    <button class="btn" onclick="location.href='{% url 'mainApp:modelo_add' %}'">
                        Adicionar/Editar
                    </button>
                    <button class="btn" onclick="location.href='{% url 'mainApp:modelo_delete' %}'">
                        Deletar
                    </button>
                </div>
            </div>

            <div class="sair"><a href="{% url 'mainApp:login' %}">Sair</a></div>
        </div>

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>

</html>