<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aeroporto</title>
    </head>

    <body>
        <div class="container-tabela">
            <div id="menu">
                <div id="titulo">
                    <h2>
                        Menu
                    </h2>
                </div>

                <div id="lista">
                    <ul>
                        <li>
                            <a href="{% url 'mainApp:aviao' %}">Aviões</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:modelo' %}">Modelos</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:teste' %}">Testes</a>
                        </li>
                        {% comment %} <li>
                            <a href="{% url 'mainApp:sindicato' %}">Sindicatos</a>
                        </li> {% endcomment %}
                        <li>
                            <a href="{% url 'mainApp:controlador' %}">Controladores</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:tecnico' %}">Técnicos</a>
                        </li>
                    </ul>
                </div>

                <div id="filtro-titulo">
                    <h3>
                        <a href="{% url 'mainApp:find' %}">Filtrar</a>
                    </h3>
                </div>
            </div>

            <div id="botao-e-tabela">
                <div id="table-flex">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col">Index</th>
                                <th class="col">Código Sindicato</th>
                                <th class="col">Nome</th>
                                <th class="col">Controladores</th>
                                <th class="col">Técnicos</th>
                            </tr>
                            {% for id,sindicato in sindicatos.items %}
                                <tr>
                                    <td> {{id}}                      </td>
                                    <td> {{sindicato.cods}}          </td>
                                    <td> {{sindicato.nome}}          </td>
                                    <td> {{sindicato.controladores}} </td>
                                    <td> {{sindicato.tecnicos}}      </td>
                                </tr>
                            {% endfor %}
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="botao-embaixo">
                    <button class="btn" onclick="window.location.href='adicionar-sindicato.html'">
                        Adicionar
                    </button>
                </div>
            </div>

            <div class="sair"><a href="{% url 'mainApp:login' %}">Sair</a></div>
        </div>

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>

</html>