<!DOCTYPE html>
<html>

    <head>
        {% load static %}

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aeroporto</title>
    </head>

    <body>
        <div class="login-content adicionar-t">
            <form action="{% url 'mainApp:tecnico_add' %}" method="post">
                {% csrf_token %}

                <img src="{% static 'img/list.svg' %}">
                <h2 class="title">Adicionar ou Editar Técnicos</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Matrícula</h5>
                        <input type="text" class="input" id="matricula" name="matricula">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Número Membro</h5>
                        <input type="text" class="input" id="nromembro" name="nroMembro">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Código Modelo</h5>
                        <input type="text" class="input" id="codm" name="codm">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Código Sindicato</h5>
                        <input type="text" class="input" id="cods" name="cods">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Endereço</h5>
                        <input type="text" class="input" id="endereco" name="endereco">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Telefone</h5>
                        <input type="text" class="input" id="telefone" name="telefone">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Salário</h5>
                        <input type="text" class="input" id="salario" name="salario">
                    </div>
                </div>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Nome</h5>
                        <input type="text" class="input" id="nome" name="nome">
                    </div>
                </div>

                {% block message %}
                    {% if message %}
                        <p style="color:red">{{message}}</p>
                    {% endif %}
                {% endblock message %}

                <button class="btn" id="salvarTecnico">
                    Salvar
                </button>
            </form>
            <div id="botao-embaixo">
                <button class="btn" onclick="location.href='{% url 'mainApp:tecnico'%}'">
                    Voltar
                </button>
            </div>

        </div>
        </div>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>

</html>