<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914c.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aeroporto</title>
    </head>

    <body>
        <div class="container-tabela">
            <div id="menu">
                <div id="titulo">
                    <h2>
                        Menu
                    </h2>
                </div>

                <div id="lista">
                    <ul>
                        <li>
                            <a href="{% url 'mainApp:aviao' %}">Aviões</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:modelo' %}">Modelos</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:teste' %}">Testes</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:sindicato' %}">Sindicatos</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:controlador' %}">Controladores</a>
                        </li>
                        <li>
                            <a href="{% url 'mainApp:tecnico' %}">Técnicos</a>
                        </li>
                    </ul>
                </div>

                <div id="filtro-titulo">
                    {% comment %} <h3>
                        <a href="{% url 'mainApp:find' %}">Filtrar</a>
                    </h3> {% endcomment %}
                </div>
            </div>

            <div id="test">
                <h2>Insira a string de busca:</h2>
                <h3>&emsp; &emsp; Formato: atributo1:valor1, atributo2:valor2, ...</h3>
                <h3>&emsp; &emsp; Operadores: atributo1&CirclePlus;valor1, ..., onde &CirclePlus; pode ser <, >, <=, >= ou !=</h3>
                <h3>&emsp; &emsp; Não insira espaços entre operandos e operadores nem entre vírgulas</h3>
                <h3>&emsp; &emsp; Encapsule strings com "", número decimais devem ser representados com . como separador, datas são strings</h3>
                <h3 style="color:red">Deixar isso bonito</h3>

                <div id="filtro-flex">
                    <form action="{% url 'mainApp:controlador_find' %}" method="post">
                        {% csrf_token %}
                    
                        <div class="input-div one">
                            <div class="i">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="div">
                                <h5>String de Busca</h5>
                                <input type="text" class="input" id="stringBusca" name="stringBusca">
                            </div>
                        </div>

                        {% block message %}
                            {% if message %}
                                <p style="color:red">{{message}}</p>
                            {% endif %}
                        {% endblock message %}

                        <button class="btn" id="botao-filtro">
                            FILTRAR
                        </button>
                    </form>
                </div>

                <div id="table-flex">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col">Index</th>
                                <th class="col">Matricula</th>
                                <th class="col">Número Membro</th>
                                <th class="col">Código Sindicato</th>
                                <th class="col">Data Último Exame</th>
                                <th class="col">Nome</th>
                            </tr>
                            {% for id,controlador in controladores.items %}
                                <tr>
                                    <td> {{id}}                    </td>
                                    <td> {{controlador.matricula}} </td>
                                    <td> {{controlador.nroMembro}} </td>
                                    <td> {{controlador.cods}}      </td>
                                    <td> {{controlador.dataExame}} </td>
                                    <td> {{controlador.nome}}      </td>
                                </tr>
                            {% endfor %}
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            
                <div id="botao-embaixo">
                    <button class="btn" onclick="location.href='{% url 'mainApp:controlador' %}'">
                        Voltar
                    </button>
                </div>


            <div class="sair"><a href="{% url 'mainApp:login' %}">Sair</a></div>
        </div>

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>

</html>